@import 'vars';
@import 'fonts';
@import 'global';

// start header
.header__top{
    background-color: #fff;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    width: 72px;
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register,
.header__btn-logout{
    background-color: $red;
    margin-left: 7px;
}
.header__btn-login--off{
    display: none;
}
.header__btn-menu,
.menu_btn{
    display: none;
}
.header__box{
    display: flex;
    align-items: center;
}
.header__circle{
    &.active{
        display: block;
    }
    display: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
    }
    span{
        position: absolute;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        color: #fff;
        font-size: 11px;
    }
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: #ef6c00;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.user{
    padding-right: 20px;
    margin-right: 30px;
    position: relative;
    &::before{
        position: absolute;
        content: '\f107';
        font-family: 'icomoon';
        right: 0;
        top: 0;
        font-size: 16px;
    }
    &__box{
        position: relative;
        height: 90px;
        margin-top: 42px;
        &:hover{
            .user__menu{
                height: auto;
                border: 1px solid rgb(204, 204, 204);
                padding: 16px 20px;
                overflow: auto;
            }
        }
    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__img{
        height: 34px;
        width: 34px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        color: #222;
    }
    &__money{
        color: $green;
        font-weight: 700;
    }
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{
    li{
        display: inline-block;
        &+li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
.user__menu{
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    height: 0px;
    overflow: hidden;
    a{
        font-size: 12px;
        color: #546e7a;
        line-height: 36px;
    }
}
.notification,
.message,
.basket{
    transition: all .3s;
    &__box{
        position: relative;
        margin-left: 15px;
        height: 65px;
        margin-top: 31px;
        transition: all .3s;
        &:hover{
            .notification__dropdown,
            .message__dropdown,
            .basket__dropdown{
                height: auto;
                border: 1px solid rgb(204, 204, 204);
                overflow: auto;
            }
            .header__circle::before{
                color: $bg;
            }
        }
    }
    &__dropdown{
        border: none;
        position: absolute;
        background-color: #fff;
        z-index: 5;
        width: 270px;
        top: 62px;
        right: -5px;
        height: 0px;
        overflow: hidden;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 19px 22px 22px;
        border-bottom: 1px solid #e0e0e0;
    }
}
.basket{
    &__info{
        margin-left: 15px;
        margin-right: auto;
    }
    &__name{
        color: $bg;
        font-size: 15px;
        font-weight: 500;
    }
    &__category{
        color: $green;
        font-size: 12px;
    }
    &__price{
        color: #000;
        font-size: 16px;
    }
    &__summ{
        padding: 18px 16px 12px;
        &-title{
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            color: $bg;
            font-weight: 700;
            margin-bottom: 12px;
            padding-right: 22px;
            padding-left: 12px;
        }
    }
    &__links{
        display: flex;
        justify-content: space-between;
    }
    &__btn{
        font-size: 14px;
        background-color: $green;
        text-align: center;
        color: #fff;
        padding: 10px 5px;
        font-weight: 700;
        width: 105px;
        &-checkout{
            background-color: $red;
            width: 123px;
            margin-left: 6px;
        }
    }
}
.notification,
.message{
    &__dropdown{
        .notification__avatar,
        .message__avatar{
            margin-right: 20px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
    &__info{
        position: relative;
        width: 100%;
        margin-right: auto;
        line-height: 20px;
        &::before{
            position: absolute;
            top: 0;
            right: 0;
            color: #b0bec5;
            font-size: 16px;
        }
    }
    &__name{
        font-size: 12px;
        font-weight: 700;
        color: $bg;
    }
    &__text{
        font-size: 11px;
        color: $green;
    }
    &__date{
        color: #707070;
        font-size: 10px;
    }
}
.notification__text{
    font-size: 12px;
    font-weight: 500;
}
.icons-color::before{
    color: #ef6c00;
}

// end header


// start modal
#modal{
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 100px;
    display: none;
}
.login__title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
    }
    label{
        position: relative;
        display: block;
        width: 100%;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
        }
    }
    .login__label-name::before{
        content: "\f007";
        top: 9px;
        left: 18px;
    }
    .login__label-pass::before{
        content: "\f023"; 
        top: 9px;
        left: 18px;
    }
    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        padding-left: 40px;
        padding-right: 15px;
        display: block;
        width: 100%;
        font-size: 14px;
        &::placeholder{
            color: #fff;
            font-size: 14px;
        }
    }
    button{
        margin-top: 19px;
        background-color: #fff;
        padding: 18px 0 16px;
        margin-right: 10px;
        border: none;
        text-transform: uppercase;
        width: 140px;
        font-weight: 700;
        color: #000;
        text-align: center;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }
}
.lost-pass{
    display: block;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    
}
.create-acc{
    margin-top: 19px;
    color: #fff;
    font-size: 18px;
    background-color: #76ae36;
    width: 246px;
    text-align: center;
    padding: 14px 0 15px 28px;
    position: relative;
    &::before{
        content: '\f044';
        position: absolute;
        top: 15px;
        left: 35px;
        font-family: 'icomoon';
    }
}
.fancybox-button svg path{
    fill: #fff;
}


// end modal


// start search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search{
        min-height: 230px;
        .search__inner{
            padding: 60px 0px 70px;
        }
        .search__inner-text{
            margin-bottom: 25px;
        }
    }
}
.search__inner {
    padding: 135px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        margin-bottom: 5px;
        font-weight: 700;
        line-height: 72px;
    }
    &-text{
        font-size: 20px;
        margin-bottom: 50px;
        font-weight: 500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            outline: none;
            &::placeholder{
                color: #90a4ae;
                font-weight: 500;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 18px;
        }
    }
}

// end search
// start products

.products{
    padding: 110px 0px ;
    background-color: $gray;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        font-weight: 500;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        outline: none;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}
.products__inner-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product_item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    background-color: #fff;
    transition: all .3s;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        font-weight: 500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
        width: 100%;
    }
    &-title{
        color: $bg;
        display: block;
        font-size: 18px;
    }
    &-category{
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            height: 30px;
            min-width: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            font-weight: 500;
        }
    }
    &-star{
        color: #b0bec5;
        font-size: 12px;
        span{
            color: $bg;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    button{
        margin: 45px 5px 0px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        cursor: pointer;
        outline: none;
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }
}

// end products
// start products-slider

.products-slider{
    padding: 110px 0px 120px;
    .slick-dots{
        text-align: center;
        margin-top: 30px;
        li{
            display: inline-block;
            margin: 0px 3px;
            &.slick-active{
                button{
                    background-color: $green;
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// end products-slider
// start advantages

.advantages{
    background-color: $bg;
    padding: 110px 0;
    .advantages__title{
        color: #fff;
        margin-bottom: 80px;
    }
    .advantages__inner{
        display: flex;
        justify-content: space-between;
    }
    .advantages__item{
        text-align: center;
        max-width: 370px;
        &:hover{
            .advantages__item-img{
                background-color: $green;
                svg{
                    fill: #fff;
                }
            }
            .advantages__item-title{
                color: $green;
            }
        }
        &-img{
            width: 114px;
            height: 114px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 30px;
            transition: all .5s;
        }
        &-title{
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 20px;
            transition: all .5s;
        }
        &-text{
            color: #b0bec5;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

// end advantages
// start author

.authors{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        &-title{
            font-size: 30px;
            line-height: 36px;
            color: #fff;
            max-width: 270px;
            margin-right: 45px;
            span{
                font-weight: 700;
            }
        }
        &-link{
            font-size: 18px;
            line-height: 36px;
            padding: 14px 45px;
            color: $bg;
            background-color: #fff;
        }
    }
}

// end author
// start tutorials

.tutorials{
    padding: 60px 0 150px;
}
.tutorials__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.tutorials__item{
    max-width: 370px;
    width: 100%;
    &-img{
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    &-title{
        text-align: center;
        font-size: 24px;
        color: $bg;
        font-weight: 700;
        line-height: 60px;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }
}

// end tutorials
// start footer

.footer{
    background-color: $bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer__copy{
    border-top: 2px solid #424d53;
    &-text{
        text-align: center;
        color: #919699;
        line-height: 36px;
        padding: 18px 0;
    }
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
        font-size: 22px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 28px;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 2px;
            bottom: 0;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text{
        color: $footer;
        margin-bottom: 30px;
    }
    &-info{
        padding-left: 30px;
        position: relative;
        color: #fff;
        margin-top: 18px;
        font-weight: 500;
        font-size: 14px;
        &::before{
            content: '\f041';
            position: absolute;
            font-family: 'icomoon';
            left: 0;
            color: $green;
            font-size: 18px;

        }
        &-phone::before{
            content: '\f095';
        }
    }
    &-list{
        li{
            padding-left: 22px;
            position: relative;
            &+li{
                margin-top: 14px;
            }
            a{
                color: $footer;
            }
            &::before{
                content: '\f105';
                font-family: 'icomoon';
                font-size: 18px;
                position: absolute;
                left: 0;
                color: $green;
            }
        }

    }
}
.footer__social-link{
    margin-bottom: 33px;
    li{
        display: inline-block;
        &+li{
            margin-left: 6px;
        }
    }
    a{
        height: 28px;
        width: 28px;
        background-image: url(../images/css_sprites.png);
    }
}
.link-facebook{
    background-position: 0 0;
}
.link-twitter{
    background-position: -28px -0;
}
.link-youtube{
    background-position: -0 -28px;
}
.link-pinterest{
    background-position: -28px -28px;
}
.link-linkedin{
    background-position: -56px -0;
}
.footer__form{
    form{
        position: relative;
    }
    &-title{
        font-size: 20px;
        color: #fff;
        margin-bottom: 22px;
    }
    input{
        border: none;
        background-color: #2f3c43;
        padding: 0 50px 0 14px;
        width: 100%;
        display: block;
        height: 40px;
        color: #fff;
        outline: none;
        &::placeholder{
            color: #697378;
            font-size: 14px;
        }
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: '\f124';
            font-family: 'icomoon';
            font-size: 20px;
            color: #fff;
        }
    }
}

// end footer


// start product-page

.product-page__inner{
    display: flex;
    padding-bottom: 110px;
}
.product-page__aside{
    margin-right: 30px;
}
.aside__item{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    width: 270px;
    &.top-sellers{
        padding-bottom: 0px;
    }
}
.aside__item:last-child{
    margin-bottom: 0;
}
.aside__title{
    border-bottom: 1px solid #dde3e8;
    font-size: 20px;
    color: $bg;
    padding: 18px 0px;
    font-weight: 700;
}
.category__list{
    padding-top: 10px;
    li{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 10px 0 10px 20px;
        &::before{
            content: '\f105';
            font-family: 'icomoon';
            font-size: 18px;
            position: absolute;
            left: 0;
            color: $green;
        }
    }
    a{
        color: $bg;
    }
    span{
        color: #90a4ae;
    }
}
.price-range{
    & .aside__title{
        margin-bottom: 10px;
    }
    form{
        button{
            margin-top: 45px;
            border: none;
            background-color: $green;
            color: #fff;
            text-align: center;
            position: relative;
            padding: 15px 10px;
            line-height: 15px;
            width: 100%;
            font-weight: 500;
            cursor: pointer;
            &::before{
                content: '\f002';
                font-family: 'icomoon';
                font-size: 15px;
                position: absolute;
                left: 58px;
            }
        }
    }   
}
.irs--flat .irs-line{
    height: 6px;
    background-color: #f2f5f8; 
}
.irs--flat .irs-bar{
    height: 6px;
    background-color: #37474f;
}
.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 3px solid $green;
    border-radius: 50%;
}
.irs--flat .irs-handle>i:first-child{
    display: none;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before{
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to{
    background-color: transparent;
    color: #78909c;
    font-size: 15px;
}
.irs--flat .irs-max, .irs--flat .irs-min{
    display: none;
}
.irs--flat .irs-handle{
    top: 20px;
}
.irs-from, .irs-single, .irs-to{
    top: 45px;
}
.top-sellers{
    &__link{
        background-color: $green;
        color: #fff;
        display: block;
        text-align: center;
        margin-bottom: 30px;
        padding: 16px 10px;
        line-height: 15px;
    }
    & .product_item{
        box-shadow: none;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e7ecf2;
        .rate_star{
            margin: 0;
        }
        .jq-ry-container{
            padding: 0;
        }
        &-author{
            span{
                font-weight: 400;
            }
        }
        &-title{
            font-size: 16px;
            font-weight: 700;
        }
        &-img{
            min-height: 120px;
        }
        &-content{
            padding: 0;
            min-height: 75px;
            border: none;
        }
        &-info{
            padding: 0;
            min-height: 0;
        }
        &-price{
            font-size: 16px;
        }
    }
}
.product_item-aside{
    .product_item:last-child{
        border: none;
        margin-bottom: 15px;
    }
    .product_item:first-child{
        margin-top: 25px;
    }
}

.product-page__filter{
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        outline: none;
        &.active{
            color: $green;
        }
    }
}
.product-page__filter-sort{
    color: #707070;
    display: flex;
    align-items: center;
    & .icon-unsorted{
        font-size: 18px;
        color: #455a64;
    }
    & .icon-sort-amount-desc{
        font-size: 14px;
        color: #000;
    }  
}
.product-page__content{
    width: 100%;
    .product-page__items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .jq-ry-container{
        padding: 0;
    }
    .product_item{
        max-width: 270px;
    }
    .product_item-img{
        min-height: 180px;
    }
    .product_item-content{
        padding: 10px 20px;
    }
    .product_item-title{
        font-size: 16px;
    }
    .product_item-info{
        min-height: 65px;
        padding: 10px 20px;
    }
}
.pagination__list{
    li{        
        display: inline-block;
        &+li{
            margin-left: 6px;
        }
    }
    a,span{
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        font-size: 16px;
        width: 44px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: $bg;
        font-weight: 500;
        &.active{
            background-color: $red;
            color: #fff;
        }
    }
}
.product-page__content{
    .product_item{
        &-text{
            display: none;
        }
        &-price{
            span{
                display: none;
            }
        }
        &-list{
            display: none;
            .icon-comment-o,
            .icon-heart-o{
                display: inline-block;
                font-size: 12px;
                color: #b0bec5;
                padding-left: 50px;
                border-left: 1px solid #aeb4bb;
                position: relative;
                span{
                    color: $bg;
                    font-weight: 500;
                }
                &::before{
                    font-size: 18px;
                    color: $green;
                    left: 20px;
                    top: -2px;
                    position: absolute;
                }
            }
            .icon-comment-o{
                padding-right: 30px;
                &::before{
                    top: -4px;
                }
            }
        }
        &:hover {
            box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
        }
        &.list{
            .product_item-star{
                margin-left: auto;
                margin-right: 30px;
            }
            .product_item-info{
                min-height: 0;
            }
            .product_item-content{
                min-height: 120px;
                padding: 25px 30px 20px 35px;
            }
            .product_item-name{
                max-width: 480px;
            }
            max-width: 100%;
            .product_item-img{
                float: left;
                width: 240px;
            }
            .product_item-text{
                font-size: 14px;
                color: #70838d;
                display: block;
                margin-top: 10px;
            }
            .product_item-price{
                font-size: 30px;
                span{
                    display: block;
                    font-size: 13px;
                    color: #aeb4bb;
                    font-weight: 400;
                    margin-top: 34px;
                    line-height: 13px;
                    text-align: right;
                }
            }
            .product_item-list{
                display: inline-block;
            }
        }
    }
}

// end product-page


// start product-one
.product-one{
    padding-bottom: 100px;
}
.product-one__inner{
    display: flex;
    justify-content: space-between;
}
.product-one__content{
    margin-right: 31px;
    max-width: 870px;
}
.product-one__img-inner{
    background-color: #fff;
    border: 1px solid #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}
.product-one__img{
    height: 422px;
    max-width: 829px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product-one{
    &__title{
        font-size: 30px;
        color: $bg;
        font-weight: 500;
        line-height: 40px;
        margin-top: 30px;
    }
    &__text{
        color: #707070;
        font-size: 16px;
        margin-bottom: 30px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
        text-align: center;
    }
    &__link{
        a{
            width: 150px;
            color: $gray;
            padding: 16px 8px;
            font-size: 16px;
            line-height: 20px;
            padding: 15px 8px;
            text-align: center;
            & + a{
                margin-left: 20px;
            }
        }
    }
    &__social{
        a{
            height: 50px;
            width: 54px;
            position: relative;
            &::before{
                color: #fff;
                font-size: 18px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
            }
        }
    }
}
.product-one__link-live{
    background-color: $red;
}
.product-one__link-screen{
    background-color: #455a64;
}
.product-one__link-doc{
    background-color: $green;
}
.icon-facebook{
    background-color: #6370b6;
}
.icon-twitter{
    background-color: #64b5f6;
}
.icon-linkedin{
    background-color: #4f71ce;
}
.icon-pinterest-p{
    background-color: #d32f2f;
}
.product-one__more{
    background-color: #fff;
    width: 100%;
    padding: 16px 25px;
    border: 1px solid #dcdcdc;
    font-size: 18px;
    font-weight: 500;
    color: $bg;
    margin-bottom: 28px;
    margin-top: 52px;
}
.product-one__icon{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    max-width: 270px;
    width: 100%;
    height: 90px;
    margin-bottom: 25px;
    align-items: center;
    &-img{
        min-width: 100px;
        height: 90px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &-info{
        padding: 15px 20px 10px;
    }
    &-name{
        color: $bg;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
    &-category{
        color: $green;
        font-size: 12px;
        font-weight: 400;
    }
    &-price{
        color: $bg;
        font-size: 18px;
        font-weight: 700;
    }
}
.product-one__icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tabs{
    display: flex;
    text-align: center;
    border: 1px solid #d7d7d7;
    .tab{
        width: 100%;
        background-color: #fff;
        color: #70838d;
        font-size: 16px;
        padding: 20px 0;
        cursor: pointer;
        &.active{
            border-bottom: 3px solid $green;
        }
        & + .tab{
            border-left: 1px solid #d7d7d7;
        }
    }
}
.tab_content{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    border-top: none;
    padding: 30px 30px 50px;
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
.tab-items__list{
    line-height: 36px;
    font-size: 16px;
    color: #707070;
    column-count: 2;
}
.author__awards-list{
    li{
        display: inline-block;
        width: 34px;
        height: 37px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        & + li{
            margin-left: 4px;
        }
        &::before{
            position: absolute;
            color: #fff;
            top: 40%;
            left: 50%;
            transform: translate(-50% , -50%);
            font-size: 20px;
        }
    }
}
.aside__information-line{
    font-size: 14px;
    color: #70838d;
    margin-top: 15px;
    &:first-child{
        margin-top: 20px;
    }
    span{
        color: $bg;
        font-weight: 500;
    }
}
.price__box{
    display: flex;
    justify-content: space-between;
        padding: 30px 0;
}
.price__product{
    font-weight: 500;
    font-size: 22px;
    color: $red;
}
.aside__item-price{
    button{
        font-family: 'Roboto', sans-serif !important;
        height: 50px;
        width: 100%;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        background-color: $text;
        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
        cursor: pointer;
        &::before{
            margin-right: 8px;
            font-family: 'icomoon';
        }
        & + button{
            margin-top: 7px;
        }
    }
    .icon-shopping-cart{
        background-color: $green;
    }
    .icon-heart-o{
        background-color: #42a5f5;
    }
}
.author__box{
    padding: 25px 0;
    display: flex;
}
.author__avatar{
    margin-right: 14px;
}
.author__name{
    font-size: 18px;
    color: $bg;
    margin-bottom: 7px;
}
.author__link{
    font-size: 13px;
    color: #707070;
    border: 1px solid #d5d5d5;
    padding: 3px 8px;
}
.aside__item-sales{
    padding: 22px 25px;

    & .icon-shopping-cart{
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
        &::before{
            font-family: 'icomoon';
            margin-right: 10px; 
            color: #a6b5bb;
            font-size: 20px;
        }
    }
    span{
        color: $bg;
        font-size: 20px;
        font-weight: 700;
        margin-right: 10px;
    }
}

// end product-one


// start 404 page and about us page
.page-404{
    margin-bottom: 150px;
}
.page-404__wrapper,
.contact-us__wrapper,
.about-us__wrapper{
    border: 1px solid #dcdcdc;
    width: 100%;
}
.page-404__head,
.contact-us__head,
.about-us__head{
    background-color: #fff;
    color: #444;
    font-size: 24px;
    font-weight: 500;
    padding: 24px 40px;
    border-bottom: 1px solid #dcdcdc;
}
.page-404__box{
    background-color: $green;
    text-align: center;
    color: #fff;
}
.page-404__404{
    font-family: 'Open Sans', sans-serif;
    font-size: 300px;
    font-weight: 800;
    line-height: 300px;
    padding-top: 70px;
    margin-bottom: 50px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        background-image: url(../images/404.png);
        width: 157px;
        height: 301px;
        margin-left: 20px;
    }
}
.page-404__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 5px;
}
.page-404__text{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 550px;
}
.page-404__link{
    padding: 20px 30px;
    border: 2px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 100px;
}
.about-us{
    margin-bottom: 145px;
}
.about-us__box{
    background-color: #fff;
    padding: 30px 70px 40px 50px;
}
.about-us__item{
    padding-bottom: 10px;
    h3{
        font-size: 20px;
        color: #444;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p{
        color: #707070;
    }
}

// end 404 page and about us page

// start contact page
.contact-us{
    margin-bottom: 135px;
}
.contact-us__box{
    background-color: #fff;
    padding: 35px 40px 15px;
}
.contact-us__map{
    margin-bottom: 50px;
    iframe{
        width: 100%; 
        height: 415px;
    }
}
.contact-us__inner{
    display: flex;
    justify-content: space-between;
}
.contact-us__info{
    max-width: 330px;
    margin-right: 30px;
    width: 100%;
}
.contact-us__item{
    padding-left: 40px;
    margin-bottom: 35px;
    position: relative;
    a{
        margin-top: 25px;
        color: #707070;
        font-family: 'Roboto', sans-serif;
    }
    p{
        color: #707070;
        font-family: 'Roboto', sans-serif;
        max-width: 250px;
    }
    &::before{
        position: absolute;
        color: $green;
        font-size: 24px;
        left: 0;
    }
}
.contact-us__item-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
    color: $bg;
    font-family: 'Roboto', sans-serif;
}
.contact-us__item-line{
    width: 44px;
    height: 4px;
    background-color: $green;
}
.contact-us__form{
    max-width: 725px;
    width: 100%;
    textarea{
        width: 100%;
        height: 190px;
        border: none;
        background-color: #f1f4f5;
        padding: 15px 16px;
        margin-bottom: 22px;
        resize: none;
        &::placeholder{
            color: #7a7a7a;
        }
    }
    button{
        width: 190px;
        background-color: $green;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        padding: 15px 10px;
        text-transform: uppercase;
        border: none;
    }
}
.contact-us__form-title{
    font-size: 24px;
    color: $bg;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}
.contact-us__form-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
    input{
        border: none;
        background-color: #f1f4f5;
        height: 42px;
        max-width: 350px;
        width: 100%;
        padding: 0 16px;
        &::placeholder{
            color: #7a7a7a;
        }
        & + input{
            margin-left: 20px;
        }
    }
}

// end contact page

// start settings
.settings{
    margin-bottom: 100px;
}
.product-one__tabs.settings__tabs{
    display: flex;
    .tabs{
        max-width: 270px;
        margin-right: 30px;
        border: 1px solid #dedede;
        border-bottom: none;
        width: 100%;
        display: block;
        text-align: left;
        height: 100%;
        .tab{
            display: block;
            width: 100%;
            background-color: #fff;
            border: none;
            border-bottom: 1px solid #dedede;
            padding: 12px 17px 12px 50px;
            font-size: 14px;
            font-weight: 500;
            color: #707070;
            &::before{
                left: 25px;
                top: 10px;
                color: #444;
            }
            &.active{
                border-bottom: 2px solid $green;
                color: #37474f;
                &::before{
                    color: $green;
                }
            }
        }
    }
    .tab_content{
        width: 100%;
        border: 1px solid #dedede;
        padding: 0;
    }
}
.settings__title{
    font-size: 24px;
    font-weight: 500;
    color: $bg;
    border-bottom: 1px solid #dedede;
    padding: 18px 34px;
}
.settings__content{
    padding: 30px 34px 80px;
    button{
        border: none;
        color: #fff;
        font-weight: 500;
        width: 110px;
        padding: 11px 0px;
        line-height: 24px;
        background-color: $green;
        margin-left: 260px;
        margin-top: 5px;
    }
}
.settings__line{
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    label{
        max-width: 250px;
        width: 100%;
        margin-right: 10px;
    }
    input{
        width: 100%;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        height: 40px;
        padding: 0px 15px;
    }
    select{
        width: 100%;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        height: 40px;
        padding: 0px 15px;
        color: #707070;
    }
}
// end settings

//start profile
.profile__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.profile__content{
    margin-left: 31px;
    max-width: 870px;
    width: 100%;
}
.profile-status{
    font-size: 13px;
    color: #70838d;
    border: 1px solid #d5d5d5;
    padding: 3px 13px 3px 25px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        border-radius: 50%;

        width: 9px;
        height: 9px;
    }
}
.profile-on{
    &::before{
        background-color: $green;
    }
}
.profile-off{
    &::before{
        background-color: $red;
    }
}
.profile__aside-btn{
    text-align: center;
    max-width: 270px;
    width: 100%;

}
.profile__aside-message{
    display: block;
    height: 55px;
    background-color: $text;
    font-size: 16px;
    color: #fff;
    margin-bottom: 13px;
    font-weight: 500;
    padding: 17px 10px;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    font-family: 'Roboto', sans-serif !important;
    &::before{
        font-family: 'icomoon';
        margin-right: 13px;
        font-size: 16px;
    }
}
.profile__aside-following{
    display: block;
    height: 55px;
    background-color: $green;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    padding: 17px 10px;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
}
.profile__banner{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    width: 100%;
}
.profile__banner-images{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 332px;
}
.profile__items{
    display: flex;
    border: 1px solid #dedede;
    background-color: #fff;
}
.profile__item{
    text-align: center;
    width: 25%;
    padding: 14px 5px;
    &+.profile__item{
        border-left: 1px solid #dedede;
    }
}
.profile__item-title{
    font-style: 14px;
    color:$bg;
    font-weight: 500;
}
.profile__item-content{
    font-style: 14px;
    color: #707070;
    &.profile__item-price{
        color: #000;
    }
}
.profile-settings{
    .product-one__tabs.settings__tabs{
        .tabs span{
            font-family: 'Roboto', sans-serif !important;
            color: #707070;
            font-weight: 500;
            position: relative;
            &.active::before{
                color: $green;
            }
            &::before{
                position: absolute;
                font-family: 'icomoon';
                left: 22px;
                top: 10px;
                color: #d0d0d0;
                font-size: 14px;
            }
        }
    }
}
.profile-box{
    padding: 35px 40px 25px;
}
.profile-box__title{
    font-size: 20px;
    color: $bg;
    font-weight: 700;
    margin-bottom: 20px;
}
.profile-box__text{
    color: #707070;
    margin-bottom: 35px;
}
.profile-box__item-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.profile-box__item-name{
    font-size: 16px;
    color: $bg;
    font-weight: 500;
    font-style: italic;
}
.profile-box__item-score{
    font-size: 16px;
    color: $bg;
    font-weight: 700;
}
.profile-box__item-line{
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-bottom: 23px;
    span{
        display: block;
        border-radius: 5px;
        height: 15px;
        background-image: url(../images/pro-bar.jpg);
        
    }
}
//end profile
//start upload

.upload__inner{
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 110px;
}
.upload__inner-title{
    padding: 20px 35px;
    color: $bg;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #dedede;
}
.upload__inner-content{
    padding: 40px 50px 50px 45px;
    button{
        color: #fff;
        background-color: $green;
        font-weight: 500;
        padding: 15px 35px;
        border: none;
        margin-left: 175px;
        cursor: pointer;
    }
}
.upload-line{
    margin-bottom: 25px;
    display: flex;
    label{
        color: #444;
        display: block;
        min-width: 175px;
        padding-right: 15px;
        padding-top: 5px;
    }
    span{
        font-size: 24px;
        color: $green;
    }
    textarea{
        max-width: 900px;
        width: 100%;
        padding: 10px 15px;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
        height: 150px;
        resize: none;
        &::placeholder{
            color: #707070;
        }
    }
    input,select{
        max-width: 900px;
        width: 100%;
        height: 40px;
        padding: 0px 15px;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
        &::placeholder{
            color: #707070;
        }
    }
    .jq-selectbox{
        width: 100%;
    }
    .jq-selectbox__select {
        height: 40px;
        padding: 0px 15px;
        border: 1px solid #dedede;
        border-bottom-color: #dedede;
        border-radius: 0px;
        background: #f9f9f9;
        box-shadow: none;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #707070;
        text-shadow: none;
        line-height: 40px;
    }
    .jq-selectbox__trigger-arrow{
        border: none;
        line-height: 40px;
        top: 0;
        right: 20px;
        &::before{
            font-family: 'icomoon';
            content: "\f0d7";
        }
    }
    .jq-selectbox__trigger{
        border-left: none;
    }
    .jq-selectbox__dropdown{
        top: 40px !important;
        margin: 0;
        background-color: #f9f9f9;
        border: 1px solid #dedede;
    }
    .jq-file{
        width: 100%;
    }
    .jq-file__name {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        padding: 0 15px 0 110px;
        border: 1px solid #CCC;
        border-bottom-color: #dedede;
        border-radius: 0px;
        background: #f9f9f9;
        box-shadow: none;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #707070;
        line-height: 40px;
    }
    .jq-file__browse {
        top: 8px;
        right: auto;
        left: 9px;
        padding: 0 10px;
        border-left: none;
        border-radius: 0px;
        background: #fff;
        box-shadow: none;
        text-shadow: none;
        border: 1px solid #dedede;
        font-size: 12px;
        line-height: 24px;
        height: 24px;
        font-family: 'Roboto', sans-serif;
        color: #444;
    }
}

//end upload
  

  
@import 'media';